<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyUploaderClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MyUploaderClient.Properties.Settings>
            <setting name="MyUploaderClient_uploader_Upload" serializeAs="String">
                <value>http://haibo.13x17.com/Upload.asmx</value>
            </setting>
        </MyUploaderClient.Properties.Settings>
    </applicationSettings>
</configuration>